.card {
    background: #333;
    border-radius: 10px;
    padding: 20px;
    width: calc(60% - 20px);
    gap: 20px;
}
body {
    background: #121212;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
}
.card:hover,
.card:focus,
.card.active {
    border-color: #06f;
    outline: none;
}
 a :active {
background-color: aqua;
}